In [1]:
Data = (1,2,3,4)
type(Data)

tuple

In [7]:
Status = ("suhel","ritz")
print(Status)
type(Status)

('suhel', 'ritz')

tuple

In [1]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [13]:
tuple_1 = ('Monty Python', 'British', 1969)
type(tuple_1)
L1 = ['Monty Python', 'British', 1969]
type(L1)
L1.append('python')
L1

['Monty Python', 'British', 1969, 'python']

In [23]:
T = ('Monty Python', 'British', 1969)
T = T[0:3] + ("Python",) + T[3:]
T

('Monty Python', 'British', 1969, 'Python')

In [33]:
first_name = 'Kumar'
second_name = 'Ravi'
customer_code = '003'
first_name.sort()

AttributeError: 'str' object has no attribute 'sort'

In [39]:
string_1 = [Python syntax is easy to learn, &, python syntax is very clear]
print(string_1)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1793616857.py, line 1)

In [50]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

In [54]:
list_1 = [2, 33, 222, 14, 25]
list_1[-5]

2

In [56]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [57]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']